.card-forgot {
  width: 100%;
  max-width: 420px;
}

/* Tablets */
@media (max-width: 768px) {
  .card-forgot {
    max-width: 380px;
  }
}

/* Móviles */
@media (max-width: 576px) {
  .card-forgot {
    max-width: 100%;
    margin: 0 1rem;
  }
}
