@import "bootstrap/dist/css/bootstrap.min.css";

body {
  background-image: url('assets/img/backgrounds/fondo.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; // se mantiene fija al hacer scroll
  background-repeat: no-repeat;
}
